@media print {
    @page {
        size: A4;
        margin: 0.5cm;
    }

    html,
    body {
        height: auto;
        width: 100%;
        color: #000;
        background: #fff;

        header h1, header nav, footer, img {
            display: none;
        }

        img {
            max-width: 500px;
        }

        header .print {
            display: block;
        }
        
        a[href]:after {
            content: none !important;
        }

        p a[href]:after {
            content: none !important;
        }
    }

    .container {
        width: 100%
    }

    .main-heading {
        font-size: .75em;
    .title {
        font-size: 1.5em;
    }
        .actions {
            margin-top: 1em;
            text-align: left;
        }
    }
    .no-print {
        display: none;
    }

    .print-only {
        display: block;
    }

    .table {
        font-size: .825em;
    }

    .table > tbody > tr > td {
        padding: 3px;
    }

  .profile-pic {
    height: 70%;
    width: 70%;
  }
}