
// Colors
$blue:    #007bff !default; // primary
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default; //dangers
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default; // warning
$green:   #28a745 !default; // success
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default; // info

// grays
$white:    #fff !default;
$gray-100: #f8f9fa !default; // light
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default; // secondary
$gray-700: #495057 !default;
$gray-800: #343a40 !default; // dark
$gray-900: #212529 !default;
$black:    #000 !default;


html, body{
    height: 100%;
    overflow: auto;
    .primary {
		color: $blue;
	}
	.link {
		color: $blue;
	}
	.danger {
		color: $red;
	}
	.success {
		color: $green;
	}
	.blue {    
		color: $blue;
	}
	.indigo {  
		color: $indigo;
	}
	.purple {  
		color: $purple;
	}
	.pink {    
		color: $pink;
	}
	.red {     
		color: $red;
	}
	.orange {  
		color: $orange;
	}
	.yellow {  
		color: $yellow;
	}
	.green {   
		color: $green;
	}
	.teal {    
		color: $teal;
	}
	.cyan {    
		color: $cyan;
	}

	ul.nav li a, ul.nav li a:visited {
	    color: $blue !important;
	}

	ul.nav li a:hover, ul.nav li a:active {
	    color: $blue !important;
	}

	ul.nav li.active a {
	    color: $blue !important;
	}

	.small-font {
		font-size: 12px;
		margin-top: 5px;
	}

	.text-primary {
		color: $blue !important;
	}

	a>h4 {
		color: $blue !important;
	}

	.profile-img {
		-webkit-box-shadow: 3px 7px 34px -13px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 7px 34px -13px rgba(0,0,0,0.75);
		box-shadow: 3px 7px 34px -13px rgba(0,0,0,0.75);
	}

	.profile-img:hover {
		-webkit-box-shadow: 3px 7px 18px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 7px 18px -9px rgba(0,0,0,0.75);
		box-shadow: 3px 7px 18px -9px rgba(0,0,0,0.75);
	}

	.add-shadow {
		-webkit-box-shadow: 3px 7px 34px -13px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 7px 34px -13px rgba(0,0,0,0.75);
		box-shadow: 3px 7px 34px -13px rgba(0,0,0,0.75);
	}

	.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	    background-color: $blue !important;
	}

	.title {
		font-weight: 800;
		// text-transform: uppercase;
	}

	// Layout
	.ml {
		margin-left: auto; 
	}
	.ml-1 {
		margin-left: 10px;
	}
	.ml-2 {
		margin-left: 20px;
	}
	.ml-3 {
		margin-left: 30px;
	}
	.ml-4 {
		margin-left: 40px;
	}
	.ml-5 {
		margin-left: 50px;
	}
	.mr {
		margin-right: auto; 
	}
	.mr-1 {
		margin-right: 10px;
	}
	.mr-2 {
		margin-right: 20px;
	}
	.mr-3 {
		margin-right: 30px;
	}
	.mr-4 {
		margin-right: 40px;
	}
	.mr-5 {
		margin-right: 50px;
	}
	.mt-1 {
		margin-top: 10px;
	}
	.mt-r-1 {
		margin-top: -10px;
	}

	// Border
	.border-r {
		border-right: 1px solid #ccc;
	}

	// Money
	.money {
		color: $green;
		font-size: 1.3em;
	}


	// Printing 
	.no_print {

	}
}